body {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
}

.Loading {
    text-align: center;
}

.Loading-div {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Loading-spinner {
    width: 8rem;
    height: 8rem;
}